@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

html {
    box-sizing: border-box;
    font-family: Roboto, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen,
      Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--gray-4);
  }
  
body {
    margin: 0;

}
*, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}


.main-grid {
    height: 100vh;
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: 200px 1fr;
    border: 1px black;

}
/*everything thats inside HEADER container*/
.header {
    grid-area: 1/2/3/3;
    background-color:#f0fdfa;
    display: flex;
    flex-direction: column;
    padding: 2rem;  
}
.upper {
    display: grid;
    grid-template-columns: 1fr max-content;
    margin-bottom: 2.5rem;
}
.search {
    display: flex;
    align-items: center;
    margin-right: auto;
    width: 100%;
}
.search label {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.search > #search {
    display: inline-block;
    border: 0;
    background-color: rgb(209, 202, 202);
    padding: 0.75em 2em;
    outline-color: black;
    margin-left: 1.25rem;
    border-radius: 99em;
    width: min(80%, 700px);
}
.header .account {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 1.2rem;
    font-weight: 800;
}
.lower {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.profile {
    display: flex;
    align-items: center;
    gap: 1rem;
}
.profile .greeting {
    font-weight: 800;
    margin-bottom: 0.4rem;
}
.profile .name {
    font-size: 1.6rem;
    font-weight: 800;
}

.buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 2rem;
}
.btn {
    background-color: rgb(111, 196, 111);
    color: rgb(0, 0, 0);
    font-weight: 500;
    padding: 0.75em 2.3em;
    border-radius: 99em;
}
button {
    border: none;
    appearance: none;
    outline: none;
    background: none;
    cursor: pointer;
}
/*everything thats inside SIDEBAR container*/
.sidebar {
    grid-area: 1/1/3/2;
    background-color: #0d9488;    
    color:white;
    padding: 2rem
     
}
.sidebar-upper {
   margin-bottom: 4rem; 
    
}
.nav {
    display: grid;
    gap:1.5rem;
    font-size: 1.2rem;
    margin-top: 3.25rem;
}
.nav>li {
    list-style-type: none;
}
.nav-link {
    text-decoration: none;
    font-size: large;
    color:white;
    display: flex;
    align-items: center;
    gap: 1em; 
}

/*everything thats inside CONTENT container*/

.content {
    grid-area: 2/2/3/3;
    background-color: #ccfbf1;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: min-content 1fr;
    gap:2rem;
    overflow: auto;
    grid-template-areas: 'projects announcements'
    'projects trending';
    padding-left: 2rem;
    padding-right: 2.5rem;
    padding-top: 2rem;
    
}
.projects {
    grid-area:projects; 
}

.projects .cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    grid-auto-rows: 250px;
    gap:2rem;
}
.projects .card {
    display: flex;
    flex-direction: column;
    border-left: 10px solid rgb(255, 187, 0)   
}
.projects h5 {
    margin-bottom: 10px;
    font-size: 1.3rem;
}
.projects p {
    overflow: hidden;
    color:#115e59;
}

.actions {
        margin-top: auto;
        align-self: flex-end;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 1.5rem;
    

}
.card {
    background-color: white;
    list-style-type: none;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 5px 10px #8888884d;
}
.actions span {
    font-size: 1.75rem;
    cursor: pointer;
  }


.announcements {
    grid-area:announcements;
    
}
.trending>.card p,
.announcements>.card p {
    overflow: hidden;
    color:#115e59;

}
.trending>.card h5,
.announcements>.card h5 {
    margin-bottom: 10px;
    font-size: 1.1rem;

}

.trending {
    grid-area:trending;
    
}
/*icons and pictures*/

.material-icons-outlined {
    font-family: 'Material Icons Outlined';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;